nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  nav ul li {
    list-style: square;
    transition: transform 0.7s ease;
    font-size: clamp(16px, 4vw, 22px);
  }
  
  nav ul li:hover {
    transform: skew(-10deg);
  }
  
  nav ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #FF204E;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  nav ul li:hover::after {
    width: 100%;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 1.5vw;
    background-color: transparent;
    color: black;
    padding: 5px 10px;
    border-radius: 3px;
    transition: color 0.7s ease, border-radius 0.7s ease;
    font-family: "Roboto-Flex", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  nav ul li a.active {
    color: #FF204E;
  }
  
  nav ul li a:hover {
    border-radius: 10px;
    background-color: #FF204E;
    color: black;
  }

  .logo{
    transform: scale3d(5);
    text-align: right;
    margin-left: 35%;
  }

    .body{
      font-family: "Roboto-Flex"
    }

    .box1{
      border-style: solid;
      border-width: 5px;
      border-color: black;
    
      padding: 50px;
      margin: 25px;
      width: 1300px;
      height: 150px;
      border-radius: 25px;
      margin: 0 auto;
    }
    .box1 container{

      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .box2{
      border-style: solid;
      border-width: 5px;
      border-color: black;
    
      padding: 50px;
      margin: 25px;
      width: 1200px;
      height: 100px;
      border-radius: 25px;
      margin: 0 auto;
    }
    .box2 container{

      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    h1{
      Font-family: "Roboto-Flex";
    }